.fp{
    height: 100vh;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    background-color:#6f6f6f
}
.sp{
    height: 100vh;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#6f6f6f
}
.tp{
    height: 100vh;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#6f6f6f
}
body{
    background-color: #FF2A2A;
}
